section {
    .count {
        position: relative;
        top: -14px;
        left: -14px;
        display: inline-block;
        float: left;
        width: 40px;
        height: 50px;
        &:after {
            position: absolute;
            top: 10px;
            right: 0;
            width: 1px;
            height: 30px;
            content: '';
            background: #edf0f1;
        }
        &:empty {
            display: none;
        }
        span {
            font-size: 24px;
            line-height: 36px;
            position: relative;
            top: 50%;
            left: 50%;
            float: left;
            margin: -18px 0 0 -7px;
        }
    }
    .todo {
        float: left;
        width: 100%;
        list-style: none;
        li {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            position: relative;
            float: left;
            width: 100%;
            height: 50px;
            margin: 0 0 10px 0;
            padding: 14px 100px 14px 14px;
            color: $textColor;
            background: $white;
            @include radius(5px);
            @include box-shadow(0, 1px, 2px, rgba(44, 62, 80, .10));
            @include boxSizing();
            &:last-of-type {
                margin: 0;
            }
            .actionButtons {
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                height: 50px;
                button {
                    position: relative;
                    float: left;
                    width: 50px;
                    height: 50px;
                    background: $white;
                    @extend %btn-custom;
                    @include appearance(none);
                    &:last-of-type:before {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 1px;
                        height: 30px;
                        content: '';
                        background: #edf0f1;
                    }
                }
            }
        }
        &#completed {
            &:not(empty) {
                position: relative;
                padding: 60px 0 0 0;
            }
            &:before {
                position: absolute;
                top: 30px;
                left: 50%;
                width: 150px;
                height: 1px;
                margin: 0 0 0 -75px;
                content: '';
                background: lighten($lightGreen, 40);
            }
        }
    }
}
