body{
	padding: 80px 0 0 0;
	background: $background ;
}

main{
	padding: 15px; 
	section {
		.todo{
			width: 100%; 
			list-style: none;
			float: left;
			
			li{
				margin: 0 0 10px 0; 
				padding: 0 100px 0 0; 
				width: 100%;
				height: 50px ;
				float: left;
				position: relative ;
				background: $white;
				@include radius(5px);
				@include box-shadow(0, 1px, 2px, rgba(44,62,80,0.10));
				@include boxSizing();
				&:last-of-type{
					margin: 0; 
				}
				.actionButtons{
					width: 100px ;
					height: 50px ;
					position: absolute;
					top: 0;
					right: 0;
					
					button{
						width: 50px;
						height: 50px;
						float: left;
						position: relative;
						background: $white; 
						@extend %btn-custom;
						@include appearance(none);  
						&:last-of-type:before{
							content: "";
							width: 1px;
							height: 30px;
							position: absolute ;
							top: 10px;
							left: 0;
							background: #edf0f1;      
						}
					}  
				}
			}
		}
	}
}
